In [1]:
import pickle

with open('ohe_company.pkl','rb') as file:
    ohe_company = pickle.load(file)

with open('ohe_fuel_type.pkl','rb') as file:
    ohe_fuel_type = pickle.load(file)

with open('ohe_name.pkl','rb') as file:
    ohe_name = pickle.load(file)

with open('linear.pkl','rb') as file:
    linear = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [2]:

import pandas as pd
import numpy as np

In [10]:

input_data = {
    'name':'Hyundai Santro Xing',
    'company':'Hyundai',
    'year':2012,
    'kms_driven':1000,
    'fuel_type':'Petrol'
}

In [11]:

input_data

{'name': 'Hyundai Santro Xing',
 'company': 'Hyundai',
 'year': 2012,
 'kms_driven': 1000,
 'fuel_type': 'Petrol'}

In [17]:

ohe_name_un = ohe_name.transform([[input_data['name']]]).toarray()
ohe_name_df = pd.DataFrame(ohe_name_un,columns=ohe_name.get_feature_names_out())
ohe_name_df

c:\Users\iamda\OneDrive\Desktop\ProjectNorm\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

,name_Audi A3 Cabriolet,name_Audi A4 1.8,name_Audi A4 2.0,name_Audi A6 2.0,name_Audi A8,name_Audi Q3 2.0,name_Audi Q5 2.0,name_Audi Q7,name_BMW 3 Series,name_BMW 5 Series,...,name_Volkswagen Passat Diesel,name_Volkswagen Polo,name_Volkswagen Polo Comfortline,name_Volkswagen Polo Highline,name_Volkswagen Polo Highline1.2L,name_Volkswagen Polo Trendline,name_Volkswagen Vento Comfortline,name_Volkswagen Vento Highline,name_Volkswagen Vento Konekt,name_Volvo S80 Summum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
ohe_company_un = ohe_company.transform([[input_data['company']]]).toarray()
ohe_company_df = pd.DataFrame(ohe_company_un,columns=ohe_company.get_feature_names_out())
ohe_name_df

c:\Users\iamda\OneDrive\Desktop\ProjectNorm\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

,name_Audi A3 Cabriolet,name_Audi A4 1.8,name_Audi A4 2.0,name_Audi A6 2.0,name_Audi A8,name_Audi Q3 2.0,name_Audi Q5 2.0,name_Audi Q7,name_BMW 3 Series,name_BMW 5 Series,...,name_Volkswagen Passat Diesel,name_Volkswagen Polo,name_Volkswagen Polo Comfortline,name_Volkswagen Polo Highline,name_Volkswagen Polo Highline1.2L,name_Volkswagen Polo Trendline,name_Volkswagen Vento Comfortline,name_Volkswagen Vento Highline,name_Volkswagen Vento Konekt,name_Volvo S80 Summum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:

ohe_fuel_type_un = ohe_fuel_type.transform([[input_data['fuel_type']]]).toarray()
ohe_fuel_type_df = pd.DataFrame(ohe_fuel_type_un,columns=ohe_fuel_type.get_feature_names_out())
ohe_fuel_type_df

c:\Users\iamda\OneDrive\Desktop\ProjectNorm\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   fuel_type_Diesel  fuel_type_LPG  fuel_type_Petrol
0               0.0            0.0               1.0

In [22]:

input_df = pd.DataFrame([input_data])
input_df

                  name  company  year  kms_driven fuel_type
0  Hyundai Santro Xing  Hyundai  2012        1000    Petrol

In [24]:

final_df = pd.concat([input_df.drop(['name','company','fuel_type'],axis=1),ohe_company_df,ohe_name_df,ohe_fuel_type_df],axis=1)
final_df

,year,kms_driven,company_Audi,company_BMW,company_Chevrolet,company_Datsun,company_Fiat,company_Force,company_Ford,company_Hindustan,...,name_Volkswagen Polo Highline,name_Volkswagen Polo Highline1.2L,name_Volkswagen Polo Trendline,name_Volkswagen Vento Comfortline,name_Volkswagen Vento Highline,name_Volkswagen Vento Konekt,name_Volvo S80 Summum,fuel_type_Diesel,fuel_type_LPG,fuel_type_Petrol
0,2012,1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
from sklearn.metrics import r2_score

final_df_scaler = scaler.transform(final_df)
pred = linear.predict(final_df_scaler)

pred[0]

c:\Users\iamda\OneDrive\Desktop\ProjectNorm\venv\lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

np.float64(1010400.676834364)

In [31]:
ohe_company_un = ohe_company.transform([[input_data['company']]]).toarray()
ohe_company_df = pd.DataFrame(ohe_company_un,columns=ohe_company.get_feature_names_out(['company']))
ohe_name_df

c:\Users\iamda\OneDrive\Desktop\ProjectNorm\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

,name_Audi A3 Cabriolet,name_Audi A4 1.8,name_Audi A4 2.0,name_Audi A6 2.0,name_Audi A8,name_Audi Q3 2.0,name_Audi Q5 2.0,name_Audi Q7,name_BMW 3 Series,name_BMW 5 Series,...,name_Volkswagen Passat Diesel,name_Volkswagen Polo,name_Volkswagen Polo Comfortline,name_Volkswagen Polo Highline,name_Volkswagen Polo Highline1.2L,name_Volkswagen Polo Trendline,name_Volkswagen Vento Comfortline,name_Volkswagen Vento Highline,name_Volkswagen Vento Konekt,name_Volvo S80 Summum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
ohe_company.get_feature_names_out(['company'])

array(['company_Audi', 'company_BMW', 'company_Chevrolet',
       'company_Datsun', 'company_Fiat', 'company_Force', 'company_Ford',
       'company_Hindustan', 'company_Honda', 'company_Hyundai',
       'company_Jaguar', 'company_Jeep', 'company_Land',
       'company_Mahindra', 'company_Maruti', 'company_Mercedes',
       'company_Mini', 'company_Mitsubishi', 'company_Nissan',
       'company_Renault', 'company_Skoda', 'company_Tata',
       'company_Toyota', 'company_Volkswagen', 'company_Volvo'],
      dtype=object)